{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for item in listings %}
            <li>
                <div><img src="{{item.image_url}}" width="50"><br>
                    <strong><a href="{% url 'listing' item.id %}">{{item.title}}</a></strong> - {{item.category}} - ${{item.current_price}}<br>
                    {{item.description}}<br>
                    Posted by <strong>{{item.user}}</strong>
                </div>
            </li>
        {% empty %}
            <li>No listings</li>
        {% endfor %}
    </ul>
{% endblock %}